<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ApplicationWatcher_Target="..\ApplicationWatcher.Service.Api\bin\Debug\netcoreapp3.1\win10-x64\"?>
  <Product Id="*" Name="ApplicationWatcher" Language="1033" Version="1.0.0.0" Manufacturer="ApplicationWatcher" UpgradeCode="1a3bbe3e-05d9-43dd-b7c3-1317ed618789">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ApplicationWatcher.Service.Setup" Level="1">
			<ComponentGroupRef Id="ApplicationWatcherServiceProject" />
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ApplicationWatcher" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Vital="yes" KeyPath="yes" DiskId="1" Id="ApplicationWatcherEXE" Name="ApplicationWatcher.exe" Source="$(var.ApplicationWatcher_Target)\ApplicationWatcher.Service.Api.exe" />

        <ServiceInstall Id="ServiceInstaller"
                        Type="ownProcess"
                        Vital="yes"
                        Name="ApplicationWatcher"
                        DisplayName="Application watcher"
                        Description="Application watcher"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal" />

        <ServiceControl Id="StartService"
                        Name="ApplicationWatcher"
                        Start="install"
                        Wait="no" />

        <ServiceControl Id="StopService"
                        Name="ApplicationWatcher"
                        Stop="uninstall"
                        Remove="uninstall"
                        Wait="yes" />

      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
